@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Karla:wght@400;500;600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@400;500;600;700;800&family=Syne:wght@400;500;600;700;800&family=Volkhov:wght@400;700&display=swap");

#thingsYouNeed {
  background-color: #f7f8fc;
}

@media (max-width: 576px) {
  #hero {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }
  section .container{
    padding: 1rem 12px;
  }
  h1 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .paragraph-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #666;
  }
  .paragraph-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .p-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666;
  }
  .p-mini-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666;
  }

  .desktop-view,
  .img-floating {
    display: none;
  }
  .btn-custom {
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #fa7436;
    color: #fff;
  }
  .btn-custom:hover {
    color: #fff;
  }
  .btn-outline-custom {
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #fa7436;
    border: 1px solid #fa7436;
  }
  .btn-outline-custom:hover {
    color: #fa7436;
  }

  .btn-menu {
    background-color: #fa7436;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: .5s;
    }
  .btn i {
    font-size: 14px;
    color: #fff;
  }
  .btn-hide {
    background-color: #fa7436;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }
  .hideBtn{
    display: none;
  }
  .showBtn{
    display: block;
  }
  nav {
    background-color: #fff;
    border-bottom: 1px solid #fa7436;
    position: fixed;
    z-index: 90000;
    width: 100%;
    transition: all 0.5s ease;
  }
  nav .container {
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .container .nav-items {
    position: absolute;
    top: 51px;
    left: -100%;
    text-align: center;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    transition: .5s;
  }
  nav .container .hideNav{
    left: -100%;
  }
  nav .container .showNav{
    left: 0;
  }
  nav .container .nav-link {
    margin: 25px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fa7436;
  }

  .hero-text *{
    margin: 10px 0;
  }
  .btn-my-1{
    margin: 10px auto;
  }
  .img-hero {
    width: 100%;
    height: 100%;
  }

  .border-bottom-mobile{
    border-bottom: 1px solid #666;
  }
  .search-col {
    padding: 12px;
    height: 85px;
  }
  .search-col * {
    margin: 5px 0;
  }

  
  .card.card-custom{
    padding: 20px 12px;
    border: none;
    border-radius: 0;
  }
}

/* Desktop */
@media (min-width: 991.98px) {
  h1 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
  }

  h2 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
  }

  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .paragraph-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #666;
  }

  .paragraph-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .p-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #666;
  }

  .p-mini-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666;
  }

  .btn-custom {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #fa7436;
    color: #fff;
  }
  .btn-custom:hover {
    color: #fff;
  }

  .btn-outline-custom {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border-radius: 5px;
    background-color: #fff;
    color: #fa7436;
    border: 1px solid #fa7436;
  }
  .btn-outline-custom:hover {
    color: #fa7436;
  }

  .btn-nav {
    width: 150px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .h-100vh {
    height: 100vh;
  }

  section {
    padding: 3rem 0;
  }
  .mobile-view{
    display: none;
  }
  .row-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  nav {
    background-color: #ff945e62;
    position: fixed;
    z-index: 90000;
    width: 100%;
    transition: all 0.5s ease;
  }
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 12px;
    text-align: left;
  }
  nav .container .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .container .nav-items .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fa7436;
  }

  nav.show {
    background-color: #fa7436;
  }
  nav.show .container .nav-items .nav-link {
    color: #fff;
  }
  nav.show .btn-nav {
    background-color: #fff;
    color: #fa7436;
  }
  nav.show .btn-outline-custom {
    border: 1px solid #fff;
    background-color: #fa7436;
    color: #fff;
  }

  .hero-text * {
    margin: 30px 0;
    width: 85%;
  }

  .image-wrapper {
    position: relative;
    top: 0;
  }

  .img-floating {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .num-1 {
    position: absolute;
    left: -20%;
    animation: floatNum1 8.5s ease infinite;
  }
  .num-2 {
    position: absolute;
    animation: floatNum2 8.5s ease infinite;
    right: 5%;
  }
  .num-3 {
    position: absolute;
    animation: floatNum3 8.5s ease infinite;
    left: -10%;
  }

  .img-hero {
    width: 100%;
    height: 100%;
  }

  .container-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  .wrapper {
    width: 75%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 25px;
  }

  .wrapper .row {
    justify-content: space-between;
    align-items: center;
  }

  .wrapper .row .col-lg-3 * {
    margin: 5px 0;
  }

  .card-custom {
    padding: 40px 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .row-exclusive {
    align-items: center;
  }

  .image-card {
    width: 100%;
    height: 300px;
  }

  .card-image img {
    width: 100%;
    height: 250px;
  }

  form {
    position: relative;
  }

  input.email {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 16px;
  }

  .btn-submit {
    z-index: 2;
    float: right;
    position: absolute;
    right: 26%;
  }
}

@keyframes floatNum1 {
  0%,
  100% {
    top: 15%;
  }
  50% {
    top: 20%;
  }
}
@keyframes floatNum2 {
  0%,
  100% {
    top: 40%;
  }
  50% {
    top: 35%;
  }
}
@keyframes floatNum3 {
  0%,
  100% {
    bottom: 25%;
  }
  50% {
    bottom: 20%;
  }
}
